<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
    <div class="overview">
        <section class="overview-film-hero">
            <img src="https://image.tmdb.org/t/p/w500<%= backdropPathArray[0] %>">
            <div class="overlay-content">
                <h2><%= titleArray[0] %></h2>
                <h3><%=genreIdsArray[0] %></h3>
                <button>Watch now</button>
            </div>
        </section>

        <main class="film-slider-container">
            <section class="film-slider-container-items">
                <form class="search-form" action="/search" method="get">
                    <input type="text" name="q" placeholder="Search for films...">
                </form>
                <div class="inline-items">
                    <h2>Your picks</h2>
                    <a href="/film/:id">see all</a>
                </div>
            </section>
            <section class="gsap-wrapper">
                <% for(let i = 0; i < posterPathArray.length; i++) { %>
                    <article class="gsap-slide movie-card">
                        <img src="https://image.tmdb.org/t/p/w500<%= posterPathArray[i] %>" alt="Image <%= i + 1 %>">
                    </article>
                <% } %>
            </section>
        </main>
        <script>
            const slides = document.querySelectorAll('.gsap-slide');
            let currentSlide = 0;
            const slideWidth = slides[0].offsetWidth;
            const totalSlides = slides.length;

            function slideTo(index) {
                gsap.to('.gsap-wrapper', {
                    scrollLeft: slideWidth * index,
                    duration: 1,
                    ease: 'power1.inOut'
                });
                currentSlide = index;
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    </div>
</body>
</html>