<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <ul>
        <% for(let i = 0; i < originalTitleArray.length; i++) { %>
            <li>
                <h2><%= originalTitleArray[i] %></h2>
                <img src="https://image.tmdb.org/t/p/w500<%= posterPathArray[i] %>" alt="<%= originalTitleArray[i] %>">
                <p>Genre IDs: <%= movieGenreIds[i] %></p>
                <p>ID: <%= idArray[i] %></p>
                <a href="/movie/<%= urlTitleArray[i] %>">see movie</a>
            </li>
        <% } %>
    </ul>
</body>
</html>