<img src="<%= posterSrc %>" alt="Movie Poster">
<img src="<%= backdropSrc %>" alt="Backdrop Image">
<h1><%= title %></h1>
<p><%= overview %></p>

<% if(inList){ %>
    <form action="/favorite-deleted" method="POST">
        <button style="background-color: red; color: white; font-size: x-large;" type="submit" name="favoriteBtn" value="<%= movieId %>">Delete from favorites</button>
        </form>
  <% } else{ %>  
    <form action="/favorite-added" method="POST">
        <button style="background-color: green; color: white; font-size: x-large;" type="submit" name="favoriteBtn" value="<%= movieId %>">Add to favorites</button>
        </form>
 <% } %>