<img src="<%= posterSrc %>" alt="Movie Poster">
<img src="<%= backdropSrc %>" alt="Backdrop Image">
<h1><%= title %></h1>
<p><%= overview %></p>

<form action="/movie/<%= movieName %>" method="POST">

<button type="submit" id="favorite-btn"data-id="<%= movieId %>" class="favorite-btn inactive">Add to favorites</button>
</form>
<script>
    const favButton = document.getElementById("favorite-btn");
    favButton.addEventListener("click", ()=>{
    if (favButton.classList.contains("inactive")) {
        favButton.innerHTML = "Added to favorites"
        favButton.classList.replace("inactive", "active");

    }
    else {
        favButton.innerHTML = "Add to favorites"
        favButton.classList.replace("active", "inactive");
    }
    });
</script>